[Desktop Entry]
Name=Uniword
GenericName=Unicode character selector
Comment=Select Unicode characters using keyword search
Exec=uniword
Terminal=false
Type=Application
Categories=Utility
Icon=uniword.png

